<%
locals.title = 'Création de compte !';
%>


<%- include('../_shared/header'); -%>

<h1>Créer un compte !</h1>
<form method="post">
    <div>
        <label for="input-username">Nom d'utilisateur</label>
        <input id="input-username" type="text" name="username">
    </div>
    <div>
        <label for="input-password">Mot de passe</label>
        <input id="input-password" type="password" name="password">
    </div>
    <div>
        <label for="input-password-check">Confirmation</label>
        <input id="input-password-check" type="password" name="password">
    </div>
    <div>
        <label for="input-Email">Courriel</label>
        <input id="input-Email" type="email" name="email">
    </div>
    <div>
        <label for="input-firstname">Prénom</label>
        <input id="input-firstname" type="text" name="firstname">
    </div>
    <div>
        <label for="input-lastname">Nom de famille</label>
        <input id="input-lastname" type="text" name="lastname">
    </div>

    <% if(error) { %>
    <div>
        <span class="error"><%= error %></span>
    </div>
    <% } %>
    <div>
        <button type="submit">Valider</button>
    </div>
</form>

<%- include('../_shared/footer'); -%>