<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo 04 - MVC</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>About...</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime placeat repellendus quis rerum, inventore possimus nisi vero minus facere recusandae unde qui nemo, id quae voluptates numquam delectus, excepturi odit?</p>
    
</body>
</html>